// form control with border bottom

// default
.form-control-line{
    display: block;
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;
    border-bottom: 2px solid $primary;
    color: inherit;
    border-radius: 0;
    &:focus{
        color: inherit;
        background: none;
        border-color: color-level($primary, 4);
        box-shadow: none;
        outline: none;
    }
}
// mixin
@mixin form-control-line($color, $focusBorderColor: $primary) {
    border-bottom-color: $color;
    &:focus{
        border-color: $focusBorderColor;
    }
    &.custom-select{
        background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{svgurl-color($color)}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
        background-size: 8px 10px;
    }
}
// alternative colors
// bottom line
@each $color, $value in $theme-colors {
.form-control-line.form-control-#{""+$color} {
    @include form-control-line($value, color-level($value, 4));
  }
}