// default style
.form-control-full{
    display: block;
    width: 100%;
    border: none;
    background: $primary;
    box-shadow: none;
    color: $white;
    &:focus{
        color: inherit;
        background: color-level($primary, 4);
        box-shadow: none;
        outline: none;
    }
}

// mixin
@mixin form-control-full($color, $textColor: $white, $focusColor: $primary) {
    background: $color;
    color: $textColor;
    &:focus{
        background: $focusColor;
    }
    &.custom-select{
        background: $color url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{svgurl-color($textColor)}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
        background-size: 8px 10px;
    }
}
// alternative colors
// solid background color
@each $color, $value in $theme-colors {
.form-control-full.form-control-#{""+$color} {
    @include form-control-full($value, $white, color-level($value, 4));
  }
}

// transluscent background color
@each $color, $value in $theme-colors {
.form-control-transluscent.form-control-#{""+$color} {
    @include form-control-full(transparentize($value, 0.8), $value, transparentize($value, 0.9));
  }
}