.img-frame-outline{
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    $thickness: 8px;
    &.portrait{
        .img-1{
            max-width: 380px;
        }
    }
    .img-1{
        width: 100%;
        max-width: 480px;
        position: relative;
        padding: $thickness * 2;
        img{
            position: relative;
            z-index: 1;
        }
        &:before{
            content: "";
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: $thickness/2 solid $primary;
        }
        @media (min-width: $medium-up) {
            padding: $thickness * 4;
            &:before{
                border-width: $thickness;
            }
        }
    }
    .legend{
        margin-top: 8px;
        @media (min-width: $medium-up) {
            margin-top: 16px;
        }
    }
    &.frame-small{
        .img-1{
            &:before{
                top: $thickness * 4;
                left: 0;
                right: 0;
                bottom: $thickness * 4;
            }
        }
        .legend{
            margin-top: -8px;
            padding: 0 $thickness * 2;
        }
        @media (min-width: $medium-up) {
            .img-1{
                &:before{
                    top: $thickness * 8;
                    left: 0;
                    right: 0;
                    bottom: $thickness * 8;
                }
            }
            .legend{
                margin-top: -16px;
                padding: 0 $thickness * 4;
            }
        }
    }
    &.translated-left{
        .img-1{
            padding-top: 0;
            padding-right: 0;
            &:before{
                top: $thickness * 2;
                left: 0;
                right: $thickness * 2;
                bottom: 0;
            }
            @media (min-width: $medium-up) {
                &:before{
                    top: $thickness * 4;
                    left: 0;
                    right: $thickness * 4;
                    bottom: 0;
                }
            }
        }
    }
    &.translated-right{
        .img-1{
            padding-top: 0;
            padding-left: 0;
            &:before{
                top: $thickness * 2;
                left: $thickness * 2;
                right: 0;
                bottom: 0;
            }
        }
        @media (min-width: $medium-up) {
            .img-1{
                &:before{
                    top: $thickness * 4;
                    left: $thickness * 4;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
    
}

// mixin
@mixin img-frame-outline($color) {
    .img-1{
        &:before{
            border-color: $color;
        }
    }
}

// alternative colors
@each $color, $value in $theme-colors {
.img-frame-outline.img-#{""+$color} {
    @include img-frame-outline($value);
    }
}