// default page layout for .page-main and body
.page-main{
    min-height: 100%;
}

.body-page{
    background-color: $black;
    color: $white;
}
.body-item{
    background-color: $black;
    color: $white;
}