a {
  color: #449999; }
  a:hover {
    color: rgba(255, 255, 255, 0.7); }

/* nav */
.page-header-alpha .navbar-mainmenu .nav-item a:hover {
  color: #037FD5; }

/* subscription form */
.form-container-transparent.form-container-white .form-desc h4 {
  color: #ffffff; }

.form-container-transparent.form-container-white .form-input label {
  color: #ffffff; }

.page-cover:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  transition: 0.6s; }

.page-cover.scrolled:after {
  background: #ddd; }
