// list style

@mixin list-style($color) {
	padding-left: 0;
    > li {
	    position: relative;
	    padding-left: 1.5em;
        list-style: none;
        &:before{
            position: absolute;
            border-radius: 2rem;
            background: $color;
            width: 1rem;
            height: 1rem;
            left: 0;
            top: 0.25em;
            content: "";
        }
    }
}