
@import "variables";

// colors
$black : #1D1D1D;
.body-page{
    background-color: $black;
}
.body-item{
    background-color: $black;
}
// typo
.slide-wrapper .legend h3,
.display-title{
    font-family: $condensed;
    letter-spacing: 0.2em;
}
.title-bg{
    font-family: $condensed;
}
.display-3,
.display-4{
    font-family: $condensed;
    letter-spacing: 0.2em;
}
// nav 
.page-header-alpha .nav-item{
    font-family: $condensed;
    letter-spacing: 0.2em;
}
.page-header-alpha .navbar-mainmenu .nav-item{
    font-family: $condensed;
}
// buttons
.btn{
    font-family: $condensed;
    letter-spacing: 0.2em;
    height: 46px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 2px;
    &.btn-round{
    }
}
.btn-outline-white{
    line-height: 44px;
}
.btn-outline-primary{
    line-height: 44px;
}
.btn-transp-arrow .text{
    padding-top: 2px;
}
// footer
.page-footer .footer-left p{
    font-family: $condensed;
    letter-spacing: 0.2em;
}

/* slider */
.carousel-swiper-beta .slider-container .legend h3{
    font-family: $condensed;
    letter-spacing: 0.2em;
}
.carousel-swiper-alpha .slider-container .legend h3{
    font-family: $condensed;
    letter-spacing: 0.2em;
    font-size: 1.5rem;
}
