{{ define "main" }}
<section>
<article>
  <address class="byline">
    {{ with .Params.bylineAuthor }}
      by {{ . }}
    {{ end }}
    <br />
    <time>{{ .Params.bylineDate }}</time>
  </address>

  {{ .Content }}

  {{ if .Params.bylineAuthorBio }}
    <h2>About {{ .Params.bylineAuthor }}</h2>
    {{ .Params.bylineAuthorBio | markdownify }}
  {{ end }}

  <h2>About the Organization for Ethical Source</h2>
  <p>
		The Organization for Ethical Source (OES) is a 501(c)(3) nonprofit representing a global, multidisciplinary community of technologists working to promote human and digital rights in the software commons. We invest in tools like Contributor Covenant as part of our commitment to strengthening the technology of community to bring about better futures for everyone. If you’d like to help us shape these futures, consider <a href="https://ethicalsource.dev/join">becoming an OES member</a> or <a href="https://opencollective.com/ethical-source">supporting us with a recurring donation</a>. Learn about the Ethical Stack and more at <a href="https://ethicalsource.dev">https://ethicalsource.dev</a>.
  </p>

</article>
</section>

<section class="call-to-action-bottom">
  <h2>Still curious? Explore more from our blog.</h2>
  <a href="/blog" class="button">Read More</a>
</section>

{{ end }}
