{{- $mainStyle := resources.Get "css/main.css" -}}
{{- $bannerStyle := resources.Get "css/banners.css" -}}
{{- $fontStyle := resources.Get "css/fonts.css" -}}

{{- $css := slice $fontStyle $bannerStyle $mainStyle | resources.Concat "css/main.css" | resources.Minify | resources.Fingerprint -}}
{{- $mainJs := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint -}}

<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }} | {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="https://ethicalsource.dev">
    {{ if .Params.Summary }}
      <meta property="og:description" content="{{ .Params.Summary}}">
    {{ else }}
      <meta property="og:title" content="The Organization for Ethical Source supports a global and multidisciplinary community devoted to centering justice and equity in the practice of open source.">
    {{ end }}
    <meta property="og:image" content="https://ethicalsource.dev/img/ethical_source.jpg">
    <meta property="og:description" content="{{ .Params.Summary}}">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  </head>

  <body{{ with .Section }} id="{{ . }}"{{ end }}>
    <div>
      {{ partial "header" . }}
    </div>
    <div id="veil">
      {{ block "main" . }}
      {{ end }}
      {{ partial "footer" }}
    </div>

    {{ partial "navigation" . }}

    <script src="{{ $mainJs.RelPermalink }}" integrity="{{ $mainJs.Data.Integrity }}"></script>
  </body>
</html>
