{{- $fontStyle := resources.Get "css/fonts.css" -}}
{{- $mainStyle := resources.Get "css/main.css" -}}
{{- $typeStyle := resources.Get "css/typography.css" -}}
{{- $bannerStyle := resources.Get "css/banners.css" -}}

{{- $css := slice $fontStyle $bannerStyle $typeStyle $mainStyle | resources.Concat "css/main.css" | resources.Minify | resources.Fingerprint -}}
{{- $mainJs := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint -}}
<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }} | {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="https://ethicalsource.dev">
    {{ if .Params.Summary }}
      <meta property="og:description" content="{{ .Params.Summary}}">
    {{ else }}
      <meta property="og:title" content="The Organization for Ethical Source supports a global and multidisciplinary community devoted to centering justice and equity in the practice of open source.">
    {{ end }}
    <meta property="og:image" content="https://ethicalsource.dev/img/ethical_source.jpg">
    <meta property="og:description" content="{{ .Params.Summary}}">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  </head>

  <body{{ with .Section }} id="{{ . }}"{{ end }}>
    <div>
      <header class="{{ with .Params.HeaderType }}{{ . }}{{ end }} {{ with .Params.Hero }}{{ . }}{{ end }}">
        <figure>
          <a href="/">
            <img class="logo" src="/images/logo/logo-white-and-gold.png" alt="Organization for Ethical Source Logo">
          </a>
        </figure>
        <div class="page-title">
          <h1>{{ .Title }}</h1>
        </div>
      </header>
    </div>
    <div id="veil">
      <h2>{{ .Params.Heading }}</h2>
      {{ block "main" . }}
      {{ end }}
      <footer>
        <p>
          &copy; Copyright {{ now.Format "2006" }} Organization for Ethical Source.
           Follow us on Twitter at <a href="https://twitter.com/ethicaloss">@EthicalOSS</a>.
          Support this initiative through <a href="https://opencollective.com/ethical-source">Open Collective</a>. This site does not use cookies.
        </p>
      </footer>
    </div>

    <nav id="navigation">
      <ul>
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">What We Do</a></li>
        <li><a href="#">What We Believe</a></li>
        <li><a href="#">More</a></li>
      </ul>
    </nav>

    <script src="{{ $mainJs.RelPermalink }}" integrity="{{ $mainJs.Data.Integrity }}"></script>
  </body>
</html>
