/* background-image: linear-gradient(to right, rgba(109, 179, 242, .6), rgba(109, 179, 242, .6)), url('images/checked.png'); */

/* TODO: refactor to minimize attributes per hero */

.home-hero {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("/images/banners/home.jpg");
    background-size: cover;
}

.home-hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(var(--color-blue-tint), var(--color-blue));
    opacity: 0.9;
}
