/* TODO: refactor to minimize attributes per hero */

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/images/banners/home.jpg");
    background-size: cover;
}

.banner-main::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(var(--color-blue-tint), var(--color-blue));
    opacity: 0.9;
}

.banner-subpage {
    background-image: url("/images/banners/subpage.jpg");
}
