/* Heroes */

ul.heroes {
  margin-left: 0rem;
  list-style: none;
  display: flex;
  justify-content: center;
  height: 23rem;
}

ul.heroes li {
  margin-bottom: 1rem;
  width: calc(33% - 1.25rem);
  margin-right: 1.25rem;
  border: 1px solid var(--color-gold);
  border-radius: 12px;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  background-image: url("/images/heroes/generic-horizontal.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 3.125rem;
  position: relative;
}

ul.heroes li p {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 15%;
}

ul.heroes li a {
  font-family: "Source Code Pro Regular";
}

ul.heroes h3 a {
  font-family: "Source Code Pro Bold";
  text-decoration: none;
}

/* Teasers */

ul.teasers {
  margin-left: 0rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  columns: 2;
  justify-content: left;
}

ul.teasers li {
  margin-bottom: 1.8rem;
  margin-right: 1.8rem;
  width: calc(49% - 1.8rem);
  border: 1px solid var(--color-light-grey);
  border-radius: 6px;
  font-size: 1rem;
  padding-top: 1.25rem;
  position: relative;
  background: linear-gradient(var(--color-gold-tint), var(--color-gold));
  background-position: top left;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 38% 100%;
}

article.teaser img.thumbnail {
  height: 100%;
  width: 38%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .5;
}

article.teaser time {
  font-size: 0.6rem;
  position: absolute;
  bottom: 0px;
}

article.teaser {
  margin-left: 40%;
  height: 100%;
  min-height: 7rem;
}

article.teaser h3 a {
  text-decoration: none;
}

article.teaser h3 {
  font-family: "Source Code Pro Bold";
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0rem auto 1.25rem;
}

/* Press/Media */

ul.media-list {
  margin-top: 5rem;
  margin-left: 0rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  columns: 2;
  justify-content: left;
}

ul.media-list li {
  /* margin-bottom: 1.8rem;
  margin-right: 1.8rem; */
  margin-top: -0.25rem;
  border-left: 1px solid var(--color-gold);
  margin-left: 1rem;
  font-size: 1rem;
  padding: 1.25rem 1.25rem 3.25rem 15rem;
  position: relative;
}

article.media h3 {
  line-height: 1.25rem;
  font-size: 1.25rem;
  margin: -1rem auto 1.25rem;
}

article.media h3 a {
  text-decoration: none;
  color: var(--color-gold);
}

.media-logo {
  width: 10rem;
  position: absolute;
  left: 2rem;
}

.media-node {
  stroke: var(--color-gold);
  stroke-width: 3;
  fill: white;
  position: absolute;
  left: -1rem;
  top: 0;
}

/* Floating Cards */

ul.floating-cards {
  margin-left: -6rem;
  margin-right: -12rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  columns: 2;
  justify-content: left;
}

ul.floating-cards li {
  margin-bottom: 5rem;
  margin-right: 3rem;
  width: calc(49% - 3rem);
  font-size: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 23rem;
  position: relative;
}

ul.floating-cards li:nth-child(even) div.thumbnail {
  margin-top: 3rem;
}

.floating-card article div.thumbnail {
  position: relative;
  margin-bottom: 1.8rem;
  margin-right: 1.8rem;
  border: 1px solid var(--color-light-grey);
  border-radius: 20px;
  font-size: 1rem;
  padding-top: 1.25rem;
  width: calc(100% - 3rem);
  height: calc(120%);
  background: linear-gradient(var(--color-blue-tint), var(--color-blue));
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(1.75);
}

.floating-card article {
  position: relative;
  height: 100%;
}

.floating-card article img.thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  opacity: .3;
  filter: grayscale(1);
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-light-grey);
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

.floating-card article h3 {
  font-family: "Coco Sharp Extra Bold";
  line-height: 3.755rem;
  letter-spacing: .125rem;
  text-transform: lowercase;
  margin: 0rem auto 1.25rem auto;
  font-size: 2.75rem;
  text-transform: lowercase;
}
