.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.one-third{
  flex-basis: 30%;
}

.two-third{
  flex-basis: 60%;
}

.half{
  flex-basis: 50%;
}
