ul.heroes {
  margin-left: 0rem;
  list-style: none;
  display: flex;
  justify-content: center;
  height: 23rem;
}

ul.heroes li {
  margin-bottom: 1rem;
  width: calc(33% - 1.25rem);
  margin-right: 1.25rem;
  border: 1px solid var(--color-gold);
  border-radius: 12px;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  background-image: url("/images/heroes/generic-horizontal.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 3.125rem;
  position: relative;
}

ul.heroes li p {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 15%;
}

ul.heroes li a {
  font-family: "Source Code Pro Regular";
}

ul.heroes h3 a {
  font-family: "Source Code Pro Bold";
  text-decoration: none;
}
