/* Pixel-to-rem calculator: https://nekocalc.com/px-to-rem-converter */

* {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --color-primary: #FFFFFF;
  --color-blue: #1E1A34;
  --color-blue-tint: #1E1A34;
  --color-gold: #BC8C3D;
  --color-gold-tint: #E1D3B3;
  --color-black: #1D1D1D;
  --color-medium-black: #353535;
  --color-light-grey: #7D7D7D;
  --color-purple: #5E2751;
  --color-white: #FFFFFF;
}

/* Primary Elements */
html {
  height: 100%;
  font-size: .75rem;
}

body {
  background: var(--color-primary);
  color: var(--color-black);
  font: 300 1.25rem/1.875rem "Source Code Pro Regular", sans-serif;
  margin: 0 auto 1rem auto;
  /* padding: 0rem 5rem 0rem 5rem; */
  font-synthesis: none;
  -moz-hanging-punctuation: first last allow-end;
  -ms-hanging-punctuation: first last allow-end;
  -webkit-hanging-punctuation: first last allow-end;
  hanging-punctuation: first last allow-end;
  min-height: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

header,
section {
  box-sizing: border-box;
}

.page-title {
  width: 77.188rem;
  clear: both;
  margin-top: 20rem;
}

.page-title h1 {
  text-transform: lowercase;
  font-size: 3.75rem;
  line-height: 3.75rem;
  padding-bottom: 1rem;
}

.page-title-subpage h1 {
  color: var(--color-black);
}

.kicker {
  position: relative;
  margin: 3.438rem auto 0 auto;
  font-size: 1.625rem;
  line-height: 1.688rem;
}

.kicker-subpage {
  color: var(--color-black);
}

#navigation {
  list-style: none;
  margin: 3.438rem 0 0 0;
  padding: 0;
  text-align: left;
}

#navigation ul {
  margin: 0;
}

#navigation li {
  float: left;
  display: inline;
  font-size: 1rem;
}

#navigation a {
  color: var(--color-white);
  display: block;
  padding: 0;
}

#navigation a:focus,
#navigation a:hover {
  color: var(--color-white);
  text-decoration-color: var(--color-white);
}

#navigation.subpage a {
  color: var(--color-black);
}

#navigation.subpage a:focus,
#navigation.subpage a:hover {
  color: var(--color-black);
  text-decoration-color: var(--color-black);
}

.footer-navigation {
  margin: 1.25rem;
  text-align: left;
}

.footer-navigation .column {
  width: 25%;
  float: left;
  margin-bottom: 3.125rem;
}

.footer-navigation ul {
  list-style: none;
  margin: 0;
}

.footer-navigation li {
  font-size: 1rem;
  margin-bottom: .75rem;
}

.footer-navigation a {
  color: var(--color-white);
  font-family: "Source Code Pro Regular";
  text-decoration: none;
  text-transform: lowercase;
}

ul,
ol {
  list-style-position: inside;
  margin: 1.5rem 0 1.5rem 1.5rem;
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  margin: 1.5rem 1.5rem 1.5rem 0;
}

li {
  margin-bottom: .375rem;
}

strong {
  font-weight: 600 !important;
}

header {
  color: var(--color-white);
  background: var(--color-blue);
  height: 67.5rem;
}

footer {
  box-sizing: border-box;
  color: var(--color-white);
  border-bottom: 6rem solid var(--color-purple);
  background: var(--color-blue);
  height: 52rem;
  width: 77.188rem;
  clear: both;
  margin-top: 20rem;
  font-family: "Source Code Pro Regular";
}

footer h2 {
  font-family: "Backlash Small Caps";
  margin: 1.25rem;
}

footer h2 {
  margin: 1.25rem;
}

footer p {
  clear: both;
  text-align: left;
  margin-top: 1.25rem;
  margin-left: 1rem;
}

footer a {
  color: var(--color-white);
  text-decoration: underline;
}

footer a:focus,
footer a:hover {
  color: var(--color-white);
  text-decoration-color: var(--color-white);
}

blockquote {
  border-left: .75rem solid var(--color-light-grey);
  margin-left: 1.25rem;
  padding-left: 2.25rem;
  font-family: "Source Code Pro Italic";
}

/* Headers */
h1 {
  font-family: "Coco Sharp Extra Bold";
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .125rem;
  line-height: 3rem;
  margin: 1.5rem;
  text-transform: lowercase;
}

h2 {
  font-family: "Backlash Small Caps";
  font-size: 4.063rem;
  line-height: 3rem;
  padding-top: 4rem;
  width: 75%;
}

* + h2 {
  margin-top: 3rem;
}

h3 {
  font-size: 1.25rem;
  /* line-height: 3rem;
  padding-top: 4rem;
  width: 75%; */
}

h4 {
  font-family: "Source Code Pro Bold";
  width: 100%;
}

p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 1.5rem 0;
}

/* Inline Elements */
a {
  color: var(--color-black);
  font-family: "Source Code Pro Bold";
  text-decoration: underline;
  text-decoration-color: var(--color-gold);
  text-underline-offset: .25rem;
}

a:focus,
a:hover {
  color: var(--color-black);
  text-decoration: underline;
  text-underline-offset: 50%;
}

a span {
  color: var(--color-white);
  font-weight: 300;
}

strong {
  font-weight: 400;
}

code,
kbd {
  font-family: "Metropolis", monospace;
  letter-spacing: .0625rem;
}

cite {
  font-style: italic;
}

cite::before {
  content: "— ";
}

abbr {
  text-decoration: none;
}

#veil {
  background: var(--color-white);
  width: auto;
}

/* Utility Classes */
.logo {
  display: inline-block;
  position: absolute;
  height: 2.813rem;
  margin-top: 2.188rem;
  margin-left: 4.375rem;
}

.error,
.important {
  color: var(--color-red);
  font-weight: 600;
}

.translations td {
  padding-right: 1.5rem;
}

.translations td:first-child {
  vertical-align: middle;
}

.translations tr > :last-child {
  text-align: right;
}

.translations td:nth-last-child(2) {
  width: 90%;
}

.data-list {
  list-style: none;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -moz-column-fill: balance;
  -ms-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  margin-left: 0;
}

.data-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.translations dt { display: none; }

header figure {
  line-height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: .25rem;
}

header figure a {
  color: #fff;
}

header figcaption {
  display: inline-block;
  font-size: 1.625rem;
  font-weight: 500;
}

header a {
  color: #555;
  font-weight: 500;
  text-decoration: none;
}

header a:focus,
header a:hover {
  color: #fff;
  font-weight: 500;
}

@media (min-width: 300px) {
  body {
    width: 100%;
  }

  section {
    box-sizing: border-box;
    width: 60rem;
    margin: 0 auto 1rem auto;
  }

  header {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 1rem auto;
    width: 100%;
    padding: 0rem 1rem;
  }

  header figcaption {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 3rem;
  }

  footer {
    box-sizing: border-box;
    width: 100%;
    margin: 5rem auto 1rem auto;
    padding: 0 15%;
  }

  .page-title {
    margin-top: 22.5rem;
    width: 100%;
  }

  .page-title h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .logo {
    display: block;
    /* height: 2.813rem;
    margin-top: 2.188rem;
    margin-left: 4.375rem; */
    float: left;
  }

  header {
    color: var(--color-white);
    height: 67.5rem;
  }

  header.subpage {
    color: var(--color-black);
  }

  h1 {
    font-size: 3rem;
  }

  #navigation li {
  }

}

/* end @media (min-width: 300px) */

@media (min-width: 414px) {

  header {
    color: var(--color-white);
    height: 67.5rem;
  }

  .page-title {
    margin-top: 22.5rem;
    width: 50%;
  }

  header figcaption {
    font-size: 1.25rem;
  }

  .logo {
    display: block;
    float: left;
  }

  nav {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }

  nav li {
    margin-left: 3.125rem;
  }
}

/* end @media (min-width: 414px) */

@media (min-width: 640px) {
  html {
    font-size: 1rem;
  }

  body {
    width: 100%;
  }

  #veil {
    /* padding-right: 30rem; */
  }

  .page-title {
    margin-top: 22.5rem;
    width: 60%;
  }

  nav {
    position: absolute;
    top: 1rem;
    right: 4.375rem;
  }

  .data-list {
    -moz-column-count: 2;
    -ms-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  header {
    color: var(--color-white);
    padding-bottom: 6rem;
    height: 67.5rem;
    min-height: 30rem;
  }

}
/* end @media (min-width: 640px) */

@media (min-width: 1024px) {
  html {
    font-size: 1rem;
  }

  body {
    width: 100%;
  }

  .page-title h1 {
    font-size: 6rem;
    line-height: 5rem;
    width: 100%;
  }

  section {
    box-sizing: border-box;
    width: 60rem;
    margin: 0 auto 1rem auto;
  }

  nav ul li a {
    width: 100%;
    text-decoration: none;
  }

  nav ul li a {
    transition: color .5s, background-color .5s
  }

  h2 {
    width: 60rem;
    margin: 3.125rem auto 1.563rem auto;
  }

  section h2 {
    margin-left: 0em;
    margin-top: 0em;
    width: 100%;
  }

  h3 {
    font-family: "Source Code Pro Bold";
    margin: 3.125rem 0rem 1.563rem 0rem;
    width: 100%;
  }

  .page-title {
    margin: 11.25rem auto 0 auto;
    width: 60%;
    text-align: center;
  }

  nav {
    position: absolute;
    font-family: "Coco Sharp";
    text-transform: lowercase;
    top: 0rem;
    margin-right: 0.5rem;
  }

  .data-list {
    -moz-column-count: 2;
    -ms-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  header {
    color: var(--color-white);
    padding-bottom: 6rem;
    height: 67.5rem;
    min-height: 30rem;
    text-align: center;
  }

}

/* end @media (min-width: 1024px) */

.hidden {
  display: none;
}

form {
  margin-top: 2em;
}

fieldset {
  border: 0;
}

fieldset:last-child {
  text-align: right;
}

label {
  display: flex;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

label > :first-child {
  padding: .25rem .75rem .25rem;
  width: calc(25% - 1.5rem);
}

button,
input[type="text"],
input[type="email"],
textarea {
  border: .0625rem solid hsl(0, 0%, 60%);
  font: inherit;
  padding: .125rem .25rem;
}

.radio-form-group {
  float: left;
  text-align: left;
  clear: both;
}

.radio-form-group label {
  padding: 0em;
  float: left;
  font-weight: normal;
  margin: -2rem 1rem 2rem 1rem;
}

.radio-form-group input[type="radio"] {
  border: 0em;
  padding: 0em;
  margin: -.75em 2em 0em -1em;
}

.checkbox-form-group input[type="checkbox"] {
  margin-top: 1rem;
  margin-left: 0rem !important;
  float: left;
  width: 100%;
}

.checkbox-form-group label {
  font-weight: normal;
}

.checkbox-form-group label > :first-child {
  padding: 0em;
  width: 5em;
  margin-left: 1em;
}

input[type="checkbox"] {
  float: right;
  margin-left: 5em;
}

button {
  background-color: #1e1a33;
  padding: .25rem 1rem;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #6bcccc;
}

button {
  transition: background-color 0.5s;
}
input {
  margin-top: 1rem;
  height: 3rem;
}
input,
textarea {
  width: 100%;
}

textarea {
  min-height: 6.25rem;
  resize: none;
}

@keyframes appear{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  animation: appear 2s;
  animation-fill-mode: both;
}

ul.blog-index {
  list-style-type: none;
  margin-left: 0em;
}

ul.blog-index li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}

section img {
  max-width: 100%;
}

.byline {
  font-weight: bold;
}

.call-to-action {
  text-decoration: none;
  font-family: "Backlash Script";
  text-transform: lowercase;
  font-size: 3rem;
}

.call-to-action-bottom h2 {
  text-decoration: none;
  font-family: "Coco Sharp Extra Bold";
  line-height: 3.755rem;
  padding-top: 4rem;
  letter-spacing: .125rem;
  text-align: center;
  text-transform: lowercase;
  width: 75%;
  margin: 0rem auto 1.25rem auto;
  font-size: 3.75rem;
  text-transform: lowercase;
}

.call-to-action::after {
  content: "";
  background-color: var(--color-gold);
  -webkit-mask: url("/images/decorations/svg/arrow-right.svg") no-repeat 50% 50%;
  mask: url("/images/decorations/svg/arrow-right.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-size: 100% 100%;
  display: inline-block;
  height: 1.5rem;
  width: 5rem;
  transform: scale(.5);
  margin-left: -.5rem;
}

.colophon {
  clear: both;
  position: relative;
  margin-top: 5rem;
  bottom: 0;
  font-family: "Source Code Pro Regular";
  font-size: 1rem;
}

.colophon figure {
  float: left;
}
.colophon figure .logo {
  height: 8rem;
  margin: 3.25rem 5rem 0 0;
}

.colophon p {
  margin-top: 5rem;
}

.faq-block{
  padding: 0.8rem;
  width: 70%;
  margin-bottom: 0.1rem;
  border-bottom: 1px solid #1D1D1D;
}

.question, .answer{
  width: 90%;
}

.back-to-top{
  float: right;
  position: relative;
  text-decoration: none;
}

#top-of-page{
  visibility:hidden;
  float:top;
  display: block;
  position: relative;
}

.faq-header{
  margin: auto;
  font-size: 1.2rem;
  display: block;
  position: relative;
}

a.button {
  display: block;
  width: 9rem;
  background-color: var(--color-gold);
  color: var(--color-white);
  font-family: "Source Code Pro Regular";
  font-size: 1rem;
  padding: 0.25rem 1rem;
  margin: 0rem auto;
  border-radius: 13px;
  text-align: center;
  text-transform: lowercase;
}

address.byline {
  text-align: center;
  border-top: 1px solid var(--color-gold);
  width: 50%;
  margin: 0rem auto;
  padding: 1.25rem 0;
}

address.byline time {
  font-size: 1rem;
}

article h2 {
  color: var(--color-gold);
  font-family: "Source Code Pro Bold";
  font-size: 1.5rem;
  padding-top: 1.25rem;
}

  /*=========================================== */
 /*=============== FAQ Styles ================ */
/*=========================================== */
    
    .faq-block{
      padding: 0.8rem;
      width: 70%;
      margin-bottom: 0.1rem;
      border-bottom: 1px solid #1D1D1D; 
    }

   .question, .answer{
    width: 90%; 
    }

    .back-to-top{
      float: right;
      position: relative; 
    }