/* Pixel-to-rem calculator: https://nekocalc.com/px-to-rem-converter */

* {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --color-primary: #FFFFFF;
  --color-blue: #1E1A34;
  --color-blue-tint: #1E1A34;
  --color-gold: #BC8C3D;
  --color-gold-tint: #E1D3B3;
  --color-black: #1D1D1D;
  --color-medium-black: #353535;
  --color-light-grey: #7D7D7D;
  --color-purple: #5E2751;
  --color-white: #FFFFFF;
}

/* Primary Elements */
html {
  height: 100%;
  font-size: .75rem;
}

body {
  background: var(--color-primary);
  color: var(--color-black);
  font: 300 1.25rem/1.875rem "Source Code Pro Regular", sans-serif;
  font-synthesis: none;
  -moz-hanging-punctuation: first last allow-end;
  -ms-hanging-punctuation: first last allow-end;
  -webkit-hanging-punctuation: first last allow-end;
  hanging-punctuation: first last allow-end;
  min-height: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

header,
section {
  box-sizing: border-box;
  margin: 0 auto 1rem auto;
  padding: 0rem 30rem 0rem 3rem;
}

.banner {
  background: var(--color-blue);
}

.banner h1 {
  color: var(--color-white);
  text-transform: lowercase;
}

.page-title {
  width: 75%;
  clear: both;
  margin-top: 20rem;
}

.page-title h1 {
  color: #000;
  text-transform: lowercase;
  font-size: 10rem;
  line-height: 10rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c8953a;
}

#navigation {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

#navigation ul {
  margin: 0;
}

#navigation li {
    display:block;
    width: 20rem;
    margin: .25rem;
    padding: .25rem;
    border: 1px solid #1e1a33;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}

#navigation a {
    display: inline-block;
    padding: 0;
}

ul,
ol {
  list-style-position: inside;
  margin: 1.5rem 0 1.5rem 5rem;
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  margin: 1.5rem 1.5rem 1.5rem 0;
}

li {
  margin-bottom: .375rem;
}

strong {
  font-weight: 600 !important;
}

header {
  color: var(--color-white);
  background: var(--color-blue);
  height: 20rem;
}

footer {
  font-size: .875rem;
  padding: 1.5rem;
}

footer p {
  text-align: left;
  margin-left: 1rem;
}

blockquote {
  border-left: .25rem solid var(--color-primary);
  padding-left: 1.25rem;
}

/* Headers */
h1 {
  font-family: "Coco Sharp Extra Bold";
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .125rem;
  line-height: 3rem;
  margin: 1.5rem;
  text-transform: lowercase;
}

h2 {
  font-family: "Backlash Small Caps";
  font-size: 3rem;
  /* font-weight: 500; */
  line-height: 3rem;
  margin: 1rem;
  padding-top: 3rem;
  width: 75%;
}

* + h2 {
  margin-top: 3rem;
}

h4 {
  font-weight: normal;
}

p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 1.5rem 0;
}

/* Inline Elements */
a {
  color: #1e1533
  font-weight: 500;
  text-decoration: underline;
  transition: color 125ms, background-color 125ms;
}

a:focus,
a:hover {
  color: var(--color-black);
}

a span {
  color: var(--color-black);
  font-weight: 300;
}

strong {
  font-weight: 400;
}

code,
kbd {
  font-family: "Metropolis", monospace;
  letter-spacing: .0625rem;
}

cite {
  font-style: italic;
}

cite::before {
  content: "— ";
}

abbr {
  text-decoration: none;
}

#veil {
  background: var(--color-white);
  width: auto;
}

/* Utility Classes */
.logo {
  display: inline-block;
  height: 20rem;
  margin-left: -.8rem;
  margin-right: .75rem;
  vertical-align: -.8125rem;
}

.error,
.important {
  color: var(--color-red);
  font-weight: 600;
}

.translations td {
  padding-right: 1.5rem;
}

.translations td:first-child {
  vertical-align: middle;
}

.translations tr > :last-child {
  text-align: right;
}

.translations td:nth-last-child(2) {
  width: 90%;
}

.data-list {
  list-style: none;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -moz-column-fill: balance;
  -ms-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  margin-left: 0;
}

.data-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.translations dt { display: none; }

header figure {
  line-height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: .25rem;
}

header figure a {
  color: #fff;
}

header figcaption {
  display: inline-block;
  font-size: 1.625rem;
  font-weight: 500;
}

header a {
  color: #555;
  font-weight: 500;
  text-decoration: none;
}

header a:focus,
header a:hover {
  color: #fff;
  font-weight: 500;
}

@media (min-width: 300px) {
  body {
    width: 100%;
  }

  header,
  section {
    box-sizing: border-box;
    margin: 0 auto 1rem auto;
    width: 100%;
    padding: 1rem;
  }

  header figcaption {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 3rem;
  }

  .page-title {
    margin-top: 3rem;
    width: 100%;
  }

  .page-title h1 {
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
  }

  .logo {
    display: block;
    height: 13rem;
    margin-top: -2rem;
    margin-left: 0rem;
    float: left;
  }

  header {
    color: var(--color-white);
    height: 30rem;
  }

  h1 {
    font-size: 3rem;
  }

  #navigation li {
      width: 90%;
      margin: 1em auto;
  }

}

@media (min-width: 414px) {

  header {
    color: var(--color-white);
    height: 40rem;
  }

  .page-title {
    width: 50%;
  }

  header figcaption {
    font-size: 1.25rem;
  }

  .logo {
    display: block;
    float: left;
    height: 20rem;
    margin-top: -3rem;
    margin-left: -.8rem;
  }

  nav {
    position: absolute;
    top: 3rem;
    right: 0.5rem;
  }

  nav li {
    width: 100%;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 1rem;
  }

  body {
    width: 100%;
  }

  #veil {
    padding-right: 30rem;
  }

  .page-title {
    margin-top: 5rem;
    width: 60%;
  }

  nav {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }

  .data-list {
    -moz-column-count: 2;
    -ms-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  header {
    color: var(--color-white);
    padding-bottom: 6rem;
    height: 38rem;
    min-height: 30rem;
  }

}

@media (min-width: 1024px) {
  html {
    font-size: 1rem;
  }

  body {
    width: 100%;
  }

  .page-title h1 {
    font-size: 6rem;
    line-height: 5rem;
    width: 100%;
  }

  section {
    padding: 0rem 3rem;
  }

  nav ul li a {
    width: 100%;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #fff;
    background-color: #1e1a33;
  }

  nav ul li a {
    transition: color .5s, background-color .5s
  }

  h2 {
    margin-left: 3rem;
  }

  section h2 {
    margin-left: 0em;
    margin-top: 0em;
    width: 100%;
  }

  .page-title {
    margin-top: 5rem;
    width: 60%;
  }

  nav {
    position: absolute;
    font-family: "Coco Sharp";
    text-transform: lowercase;
    top: 1rem;
    width: 25rem;
    right: 0.5rem;
  }

  .data-list {
    -moz-column-count: 2;
    -ms-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  header {
    color: var(--color-white);
    padding-bottom: 6rem;
    height: 40rem;
    min-height: 30rem;
    text-align: center;
  }

}

.hidden {
  display: none;
}

form {
  margin-top: 2em;
}

fieldset {
  border: 0;
}

fieldset:last-child {
  text-align: right;
}

label {
  display: flex;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

label > :first-child {
  padding: .25rem .75rem .25rem;
  width: calc(25% - 1.5rem);
}

button,
input[type="text"],
input[type="email"],
textarea {
  border: .0625rem solid hsl(0, 0%, 60%);
  font: inherit;
  padding: .125rem .25rem;
}

.radio-form-group {
  float: left;
  text-align: left;
  clear: both;
}

.radio-form-group label {
  padding: 0em;
  float: left;
  font-weight: normal;
  margin: -2rem 1rem 2rem 1rem;
}

.radio-form-group input[type="radio"] {
  border: 0em;
  padding: 0em;
  margin: -.75em 2em 0em -1em;
}

.checkbox-form-group input[type="checkbox"] {
  margin-top: 1rem;
  margin-left: 0rem !important;
  float: left;
  width: 100%;
}

.checkbox-form-group label {
  font-weight: normal;
}

.checkbox-form-group label > :first-child {
  padding: 0em;
  width: 5em;
  margin-left: 1em;
}

input[type="checkbox"] {
  float: right;
  margin-left: 5em;
}

button {
  background-color: #1e1a33;
  padding: .25rem 1rem;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #6bcccc;
}

button {
  transition: background-color 0.5s;
}
input {
  margin-top: 1rem;
  height: 3rem;
}
input,
textarea {
  width: 100%;
}

textarea {
  min-height: 6.25rem;
  resize: none;
}

@keyframes appear{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  animation: appear 2s;
  animation-fill-mode: both;
}

ul.blog-index {
  list-style-type: none;
  margin-left: 0em;
}

ul.blog-index li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}

section img {
  max-width: 100%;
}

.byline {
  font-weight: bold;
}
