<footer>
  <section class="flex-row">
    <div class="flex-col half">
      <h2>Want More?</h2>
      <p>
        Subscribe for insights, resources and more, delivered right to your inbox!
      </p>
     </div>
   <form method= "POST" class="flexRow half">
     <input type= "text" placeholder="Email Address">
     <button type="button">Subscribe</button>
   </form>
  </section>

  <div class="footer-navigation">
    <div class="column one-third">
      <h3>Explore</h3>
      <ul>
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">What We Do</a></li>
        <li><a href="#">What We Believe</a></li>
        <li><a href="#">Our Community</a></li>
        <li><a href="/blog">News & Insights</a></li>
        <li><a href="/media">Media Coverage</a></li>
      </ul>
    </div>
    <div class="column one-third">
      <h3>Learn</h3>
      <ul>
        <li><a href="#">Licenses</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Membership</a></li>
        <li><a href="/join">Get Involved</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>
    <div class="column one-third">
      <h3>Contact Us</h3>

      <h4>Social</h4>
      <ul>
        <li>Twitter: <a href="https://twitter.com/EthicalOSS">@EthicalOSS</a></li>
        <li>Mastodon: <a href="#">@EthicalOSS</a></li>
      </ul>

      <h4>Media Inquiries</h4>
      <ul>
        <li>press@ethicalsource.dev</li>
      </ul>

      <h4>Everything Else</h4>
      <ul>
        <li>hello@ethicalsource.dev</li>
      </ul>
    </div>
  </div>
</footer>
