<footer>
  <a name="navigation"></a>
  <div class="footer-nav" name="navigation">
    <div class="nav-card">
      <h3>Explore</h3>
      <ul>
        <li><a href="/what-we-do">What We Do</a></li>
        <li><a href="/what-we-believe">What We Believe</a></li>
        <li><a href="/who-we-are">Who We Are</a></li>
        <li><a href="/join">Get Involved</a></li>
      </ul>
    </div>

    <div class="nav-card">
      <h3>Learn</h3>
      <ul>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/blog">News & Insights</a></li>
        <li><a href="/licenses">Licenses</a></li>

      <h3>Support Us</h3>
        <ul>
          <li><a href="https://opencollective.com/ethical-source" target="_blank">Donate</a></li>
        </ul>
    </div>

    <div class="nav-card">
      <h3>Contact Us</h3>
      <ul>
        <li><a href="/contact">Send a message</a></li>
      </ul>

      <h4>Social</h4>
      <ul>
        <li>Mastodon: <a href="https://fosstodon.org/@ethicalsource">@EthicalSource@fosstodon.org</a></li>
      </ul>

      <h4>Media Inquiries</h4>
      <ul>
        <li>press@ethicalsource.dev</li>
      </ul>

    </div>
  </div>

  <div id="colophon">
    <figure class="colophon-logo">
      <a href="/">
        <img class="logo logo-white-vertical"
          alt="Organization for Ethical Source logo"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
      </a>
    </figure>
    <p class="colophon-copyright">
      &copy; Copyright {{ now.Format "2006" }} Organization for Ethical Source. Support us through <a href="https://opencollective.com/ethical-source">Open Collective</a>. This site does not use cookies or 3rd party analytics.
    </p>
  </div>

</footer>
