{{ $thumbnails := readDir "/static/images/blog/thumbnails_greyscale" | shuffle }}
{{ $randomThumbnail := index $thumbnails 0 }}
{{ $offset := index (seq 20 | shuffle) 0 | mul 20 }}

<div class="thumbnail" style="background-image: url('/images/blog/thumbnails_greyscale/{{ $randomThumbnail.Name }}'); background-position: -{{ $offset }}px -{{ $offset}}px"></div>

<article id="{{ .Params.slug }}" class="hero">
  <h3>
    <a href="/{{ .Params.type }}/{{ .Params.slug }}">
      {{ .Params.title }}
    </a>
  </h3>
  {{ with .Params.summary }}
    <p class="hero-summary">
      {{ . }}
    </p>
  {{ end }}
  <p class="more-link">
    <time>{{ .Params.bylineDate}}</time><br />
    <a href="/{{ .Params.type }}/{{ .Params.slug }}">Read more</a>
  </p>
</article>
