<article id="{{ .Params.slug }}" class="hero">
  <h3>
    <a href="#{{ .Params.slug }}">
      {{ .Params.title }}
    </a>
  </h3>
  <time>{{ .Params.bylineDate}}</time>
  <p>{{ .Params.bylineAuthor}}</p>
  {{ $alt := .Params.title }}
  {{ $heroImage := or .Params.image "geometry-horizontal" }}
  <img data-src="/images/heroes/thumbnails/{{ $heroImage }}.jpg" class="static lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ $alt }}">
</article>
