
  
    <section class= "page-container flex-column">
      <div class= "faq-content">
        <div class= "question-row flex-row">
          <p class= "question">Is the sky blue?</p>
          <span class= "show-more">+</span>
          <span class= "show-less">-</span>
        </div>
        <p class= "answer">yes.</p>
      </div>

      <div class= "faq-content">
        <div class= "question-row flex-row">
          <p class= "question">Is the sky blue?</p>
          <span class= "show-more">+</span>
          <span class= "show-less">-</span>
        </div>
        <p class= "answer">yes.</p>
      </div> 

      <div class= "faq-content">
        <div class= "question-row flex-row">
          <p class= "question">Is the sky blue?</p>
          <span class= "show-more">+</span>
          <span class= "show-less">-</span>
        </div>
        <p class= "answer">yes.</p>
      </div> 
    </section>