<section class="gallery-scroll">  
  
  <div class="gallery-card">
    <img src="images/team/capy-one.png" alt="Coraline" class="gallery-image">
    <div class="gallery-desc">
      <p class="card-name">Coraline</p>
      <p class="card-desc">Team Leader</p> 
    </div>
  </div>
  
  <div class="gallery-card">
    <img src="images/team/capy-two.png" alt="Sameeul" class="gallery-image">
    <div class="gallery-desc">
      <p class="card-name">Sameeul</p>
      <p class="card-desc">Lead Legal</p>  
    </div>
  </div>

  <div class="gallery-card">
    <img src="images/team/capy-three.png" alt="Astrid" class="gallery-image">
    <div class="gallery-desc">
      <p class="card-name">Astrid</p>
      <p class="card-desc">Team Co-Leader</p> 
    </div>
  </div>

  <div class="gallery-card">
    <img src="images/team/capy-four.png" alt="Alex" class="gallery-image">
    <div class="gallery-desc">
      <p class="card-name">Alex</p>
      <p class="card-desc">Team Co-Leader</p> 
    </div>
  </div>

</section>
