<section class="gallery-scroll">  
  
  <div class="gallery-card">
    <img src="images/team/coraline-team-img-high-res-395x485.jpg" alt="Coraline" class="gallery-image">
    <div class="gallery-desc">
      <p class="card-name">Coraline</p>
      <p class="card-desc">Team Leader</p> 
    </div>
  </div>
  
  <div class="gallery-card">
    <img src="images/team/sameeul-team-img-high-res-395x485.jpg" alt="Sameeul" class="gallery-image">
    <div class="gallery-desc">
      <p class="card-name">Sameeul</p>
      <p class="card-desc">Lead Legal</p>  
    </div>
  </div>

  <div class="gallery-card">
    <img src="images/team/astrid-team-img-high-res-395x485.jpg" alt="Astrid" class="gallery-image">
    <div class="gallery-desc">
      <p class="card-name">Astrid</p>
      <p class="card-desc">Team Co-Leader</p> 
    </div>
  </div>

  <div class="gallery-card">
    <img src="images/team/alex-team-img-high-res-395x485.jpg" alt="Alex" class="gallery-image">
    <div class="gallery-desc">
      <p class="card-name">Alex</p>
      <p class="card-desc">Team Co-Leader</p> 
    </div>
  </div>

</section>
