<section class="galleryScroll">  
  
  <div class="galleryCard">
    <img src="images/team/coraline-team-img-high-res-395x485.jpg" alt="Coraline" class="galleryImage">
    <div class="galleryDesc">
      <p class="cardName">Coraline</p>
      <p class="cardDesc">Team Leader</p> 
    </div>
  </div>
  
  <div class="galleryCard">
    <img src="images/team/sameeul-team-img-high-res-395x485.jpg" alt="Sameeul" class="galleryImage">
    <div class="galleryDesc">
      <p class="cardName">Sameeul</p>
      <p class="cardDesc">Lead Legal</p>  
    </div>
  </div>

  <div class="galleryCard">
    <img src="images/team/astrid-team-img-high-res-395x485.jpg" alt="Astrid" class="galleryImage">
    <div class="galleryDesc">
      <p class="cardName">Astrid</p>
      <p class="cardDesc">Team Co-Leader</p> 
    </div>
  </div>

  <div class="galleryCard">
    <img src="images/team/alex-team-img-high-res-395x485.jpg" alt="Alex" class="galleryImage">
    <div class="galleryDesc">
      <p class="cardName">Alex</p>
      <p class="cardDesc">Team Co-Leader</p> 
    </div>
  </div>

</section>
