{{ $thumbnails := readDir "/static/images/thumbnails/thumbnails_greyscale" | shuffle }}
{{ $randomThumbnail := index $thumbnails 0 }}
{{ $offset := index (seq 30 | shuffle) 0 | mul 20 }}

<li>
  <article id="{{ .Params.slug }}" class="teaser">
    <div class="thumbnail" style="background-image: url('/images/thumbnails/thumbnails_greyscale/{{ $randomThumbnail.Name }}'); background-position: -{{ $offset }}px -{{ $offset}}px"></div>
    <h3>
      <a href="{{ .Params.slug }}">
        {{ .Params.anchor }}
      </a>
    </h3>
    <time>{{ .Params.bylineDate }}</time>
  </article>
</li>
